<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>密碼產生器h</title>
  </head>
  <body>
    <h1>密碼產生器</h1>
    {{password}}
    <form action="{% url 'password' %}">
      <label for="length">密碼長度</label>
      <select name="length" id="length">
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8" selected>8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
      <label for="input_length">自訂長度</label>
      <input type="number" name="input_length" id="input_length" />
      <input type="submit" value="產生" />
      <p>
        <input type="checkbox" name="uppercase" id="uppercase" />大寫
        <input type="checkbox" name="numbers" id="numbers" />數字
        <input type="checkbox" name="special" id="special" />特殊
      </p>
    </form>
  </body>
</html>
